<div class="container">
    <div class="row" *ngIf='carDetails?.length > 0'>
        <article class="col-md-3 well col-md-offset-1" *ngFor='let car of carDetails; let i= index'>
            <h3 class="text-left">{{car.brand}}<br />
                <small>{{car.model}}</small>
            </h3>
            <hr>
            <div class="page-content">
                <p><span>Description:</span> {{car.description}}</p>
                <p><span>Registration Number: </span> {{car.registration_number}}</p>
                <p><span>Type: </span> {{car.fuelType}}</p>
            </div>
            <hr>
            <div class="text-center">
                <a class="btn btn-success" href="#editCar{{i}}" data-toggle="modal"><i class=" glyphicon glyphicon-pencil"></i>Edit</a>
                <a class="btn btn-danger" href="#confirm-delete{{i}}" data-toggle="modal"><i class="glyphicon glyphicon-trash"></i> Delete </a>
            </div>
            <!-- Edit -->
            <div class="modal fade" id="editCar{{i}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-warning">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h2><i class="glyphicon glyphicon-pencil"></i>Edit {{car.brand}}</h2>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 radio-choices">
                                <div class="form-group">
                                    <label for="" class="control-label col-md-4">Brand</label>
                                    <div class="controls col-md-8">
                                        <input type="text" name="brand" class="input-md textinput textInput form-control" value="{{car.brand}}" [ngModel]="car.brand" (ngModelChange)="car.brand = $event">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-md-4">Model</label>
                                    <div class="controls col-md-8">
                                        <input type="text" name="model" class="input-md textinput textInput form-control" value="{{car.model}}" [ngModel]="car.model" (ngModelChange)="car.model = $event">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-md-4">Description</label>
                                    <div class="controls col-md-8">
                                        <input type="text" name="description" class="input-md textinput textInput form-control" value="{{car.description}}" [ngModel]="car.description" (ngModelChange)="car.description = $event">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-md-4">Registration number</label>
                                    <div class="controls col-md-8">
                                        <input type="text" name="registration_number" class="input-md textinput textInput form-control" value="{{car.registration_number}}" [ngModel]="car.registration_number" (ngModelChange)="car.registration_number = $event">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="type_select" class="control-label col-md-4">Type</label>
                                    <div class="controls col-md-8">
                                        <select required class="form-control" id="type_select" [ngModel]="car.fuelType" (ngModelChange)="car.fuelType = $event">
                                            <option *ngFor="let type of types" [ngValue]="type.id" [selected]="type.name == 'car.fuelType'">{{type.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="transmission_select" class="control-label col-md-4">Transmission</label>
                                    <div class="controls col-md-8">
                                        <select class="form-control" id="transmission_select" [ngModel]="car.transmission" (ngModelChange)="car.transmission = $event">
                                            <option *ngFor="let transmission of transmissions" [ngValue]="transmission.id" [selected]="transmission.name == 'car.transmission'">{{transmission.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary pull-right" (click)="updateCar(car.id, car)" data-dismiss="modal">Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Delete Modal-->
            <div class="modal fade" id="confirm-delete{{i}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                        </div>

                        <div class="modal-body">
                            <p>Are you sure you want to delete this item?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger btn-ok" (click)="deleteCar(car.id,i)" data-dismiss="modal">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

    </div>
</div>

<div class="text-center">
    <pagination class="pagination-sm" [(ngModel)]="page" [totalItems]="data.length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" (pageChanged)="onPageChange($event)">
    </pagination>
</div>